body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #eef2f3;
}

header {
    background: #0077b6;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

.container {
    padding: 20px;
}

.highlights {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: #0096c7;
    padding: 20px;
    color: white;
    flex: 1;
    text-align: center;
    border-radius: 8px;
}

.plans {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.plan-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    box-shadow: 0px 0px 10px #ccc;
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: #023e8a;
}

footer {
    background: #023e8a;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
